<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whacky Tacky Tower Defense</title>
    <link rel="stylesheet" href="public/css/index.css">

</head>
<body onload="Game.game.initialize()">
    <script>
        var pageStart = Date.now()
    </script>
    <div id="game">
        <div id="game-play" class="screen">
            <canvas id="my-canvas"></canvas>
            <canvas id="your-canvas"></canvas>
        </div>
        <div id = "main-menu" class = "screen active">
            <ul class = "menu">
                <li><button id = "id-new-game">Create&nbsp;Game</button></li>
                <li><button id = "id-find-game">Find Game</button></li>
            </ul>
        </div>
        <div id="create-game" class="screen">
            <label>Room Name:</label>
            <input id="room-name" type="text">
            <ul class="menu">
                <li><button id = "id-start-game">Start&nbsp;Game</button></li>
            </ul>
        </div>
        <div id = "find-game" class = "screen">
            <ul id="available-games" class = "menu">

            </ul>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

    <script src="/public/scripts/index.js"></script>
    <script src="/public/scripts/Screens/menu.js"></script>
    <script src="/public/scripts/Screens/createGame.js"></script>
    <script src="/public/scripts/Screens/gamePlay.js"></script>
    <script src="/public/scripts/Screens/findGame.js"></script>

    <script src="/public/scripts/Input/Keyboard.js"></script>

    <script src="/public/scripts/Rendering/core.js"></script>
    <script src="/public/scripts/Rendering/AnimatedSprite.js"></script>
    <script src="/public/scripts/Rendering/StaticImage.js"></script>
    <script src="/public/scripts/Rendering/Text.js"></script>
    <script src="/public/scripts/Rendering/Tower.js"></script>
    <script src="/public/scripts/Rendering/TowerHover.js"></script>

    <script src="/public/scripts/Components/AnimatedSprite.js"></script>
    <script src="/public/scripts/Components/StaticImage.js"></script>
    <script src="/public/scripts/Components/Tower.js"></script>
    <script src="/public/scripts/Components/TowerHover.js"></script>
    <script src="/public/scripts/Components/Charmander.js"></script>
    <script src="/public/scripts/Components/Bulbasaur.js"></script>
    <script src="/public/scripts/Components/Squirtle.js"></script>
    <script src="/public/scripts/Components/BulbasaurHover.js"></script>
    <script src="/public/scripts/Components/SquirtleHover.js"></script>
    <script src="/public/scripts/Components/CharmanderHover.js"></script>
    <script src="/public/scripts/Components/Text.js"></script>

    <script src="/public/scripts/model.js"></script>
    <script src="/public/scripts/Networking/messaging.js"></script>
    <script src="/public/scripts/main.js"></script>

    <script data-main = "/public/scripts/loader" src = "/public/scripts/require.js"></script>
    <script>
      Game.game.initialize(socket)
    </script>



</body>

</html>
