<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whacky Tacky Tower Defense</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="public/css/index.css">

</head>
<body onload="Game.game.initialize()">
    <script>
        var pageStart = Date.now()
    </script>
    <div id="game">
        <div id="game-play" class="screen">
            <canvas id="my-canvas"></canvas>
            <canvas id="your-canvas"></canvas>
        </div>
        <div id = "main-menu" class = "screen active">
            <ul class = "menu">
                <li><button id = "id-new-game">Create&nbsp;Game</button></li>
                <li><button id = "id-find-game">Find Game</button></li>
                <li><button id = "id-settings">Settings</button></li>
                <li><button id = "id-credits">Credits</button></li>
            </ul>
        </div>
        <div id = "settings" class = "screen">
            <ul class = "menu">
                <li><button id = "id-configure">Configure Controls</button></li>
                <li><button id = "id-settings-back">Back</button></li>
            </ul>
        </div>
        <div id = "configure" class = "screen">
            <ul class = "menu">
                <li> TOWERS
                    <ul class = "menu">
                        <li>Bulbasaur:<input type = "text" size="2" id="Bulbasaur"> </li>
                        <li>Charmander: <input type = "text" size="2" id="Charmander"></li>
                        <li>Squirtle: <input type = "text" size="2" id="Squirtle"></li>
                        <li>Evolve: <input type = "text" size="2" id="Evolve"></li>
                    </ul>
                </li>
                <li> Creeps
                    <ul class = "menu">
                        <li>Biker: <input type="text" size="2" id="Biker"></li>
                        <li>Pirate: <input type="text" size="2" id="Pirate"></li>
                        <li>Team Rocket: <input type="text" size="2" id="Rocket"></li>
                        <li>Scientist: <input type="text" size="2" id="Scientist"></li>
                    </ul>
                </li>
                <li> Utility
                    <ul class = "menu">
                        <li>Pause: <input type="text" size="2" id="Pause"></li>
                    </ul>
                </li>
                <li><button id = "id-save">Save</button></li>
                <li><button id = "id-configure-back">Back</button></li>
            </ul>
        </div>
        <div id = "credits" class = "screen">
            <ul class = "menu">
                <li><h1>Whacky Tacky Tower Defense</h1></li>
                <li><p>Programmed by Logan Smith and Steven Simcox</p></li>
                <li><p>Art generously provided by Gamefreak</p></li>
                <li><button id = "id-credits-back">Back</button></li>
            </ul>
        </div>
        <div id="create-game" class="screen">
            <label>Room Name:</label>
            <input id="room-name" type="text">
            <ul class="menu">
                <li><button id = "id-start-game">Start&nbsp;Game</button></li>
                <li><button id = "id-create-back">Back</button></li>
            </ul>
        </div>
        <div id = "find-game" class = "screen">
            <ul id="available-games" class = "menu">

            </ul>
            <ul class = " menu">
                <li><button id = "id-find-back">Back</button></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

    <script src="/public/scripts/Input/Configurable.js"></script>
    <script src="/public/scripts/index.js"></script>
    <script data-main = "/public/scripts/loader" src = "/public/scripts/require.js"></script>
    <script src="/public/scripts/pathing.js"></script>

    <script src="/public/scripts/Screens/menu.js"></script>
    <script src="/public/scripts/Screens/createGame.js"></script>
    <script src="/public/scripts/Screens/gamePlay.js"></script>
    <script src="/public/scripts/Screens/findGame.js"></script>
    <script src="/public/scripts/Screens/credits.js"></script>
    <script src="/public/scripts/Screens/settings.js"></script>
    <script src="/public/scripts/Screens/configure.js"></script>

    <script src="/public/scripts/Rendering/core.js"></script>
    <script src="/public/scripts/Rendering/AnimatedSprite.js"></script>
    <script src="/public/scripts/Rendering/StaticImage.js"></script>
    <script src="/public/scripts/Rendering/Text.js"></script>
    <script src="/public/scripts/Rendering/Tower.js"></script>
    <script src="/public/scripts/Rendering/Creep.js"></script>
    <script src="/public/scripts/Rendering/TowerHover.js"></script>

    <script src="/public/scripts/Components/AnimatedSprite.js"></script>
    <script src="/public/scripts/Components/StaticImage.js"></script>
    <script src="/public/scripts/Components/Tower.js"></script>
    <script src="/public/scripts/Components/Creep.js"></script>
    <script src="/public/scripts/Components/TowerHover.js"></script>
    <script src="/public/scripts/Components/Charmander.js"></script>
    <script src="/public/scripts/Components/Bulbasaur.js"></script>
    <script src="/public/scripts/Components/Squirtle.js"></script>
    <script src="/public/scripts/Components/Biker.js"></script>
    <script src="/public/scripts/Components/Eyepatch.js"></script>
    <script src="/public/scripts/Components/RocketM.js"></script>
    <script src="/public/scripts/Components/Scientist.js"></script>
    <script src="/public/scripts/Components/BulbasaurHover.js"></script>
    <script src="/public/scripts/Components/SquirtleHover.js"></script>
    <script src="/public/scripts/Components/CharmanderHover.js"></script>
    <script src="/public/scripts/Components/Text.js"></script>

    <script src="/public/scripts/Input/Mouse.js"></script>
    <script src="/public/scripts/Input/Keyboard.js"></script>
    <script src="/public/scripts/Input/GameCommands.js"></script>

    <script src="/public/scripts/model.js"></script>

    <script src="/public/scripts/Networking/messaging.js"></script>
    <script src="/public/scripts/main.js"></script>



</body>

</html>
