@font-face
{
    font-family: myFont;
    /*src: url('https://fonts.googleapis.com/css?family=Oswald');*/
    src: url('/public/assets/fonts/pkmnemn.ttf');
}

body{
    font-family: myFont, "myFont","Oswald", "Comic Sans MS", serif;
    font-size: 1.5em;
    font-variant: small-caps;
    background-color: #000012;
    color: white;
    margin:0;
}

ul{
  list-style: none;
    margin: 0 auto;
}

div{
    width: 100%
}

div #game{
    font-family: "myFont", "Comic Sans MS", serif;
    font-size: 1.5em;
    font-variant: small-caps;
    background-color: #000012;
    color: white;
}

#game-play{
    justify-content: space-around;
}

canvas{
    display: inline-block;
    margin: 5vh;
    width: 45vw;
    height: 90vh;
    background-color: white;
}

h1{
    text-align: center;
    outline-color: yellow;
}

.menu{
    width: 50%;
    margin: 0 auto;
    align-content: center;
}

button{
    display: block;
    margin: 5px auto;
    font-family: "Oswald", "Comic Sans MS", serif;
    width: 25%;
}

#score-table{
    margin: 10px auto;
}

#fps{
    position: fixed;
    right: 0;
    top: 0;
}

.hidden{
    display:none;
}

#game .screen{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active{
    display: block;
}

#game-play.screen.active{
    display: flex;
}

.menu li{
    position: relative;
}

li input{
    display: inline;
    position: absolute;
}

li input{
    right:0;
    top: 5px;
}

.no-cursor{
  cursor: none;
}
